{% extends "base.html" %}
{% block title %}
  Edit post
{% endblock title %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}"/>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Blog Post Content</label>
      <textarea rows="5" class="form-control" id="body" name="body">{{ post.body }}</textarea>
    </div>
    <button class="btn btn-primary">Post changes</button>
  </form>
{% endblock content%}
