{% extends "base.html" %}
{% block title %}About page{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row mt-2">
      <div class="col-8">
        <h1>About this page</h1>
      </div>
      <div class="fs-8">
        <p>
          This page is a blog-like webpage using django.
          <br>
          I have nothing else to say about this.
          <br>
          Move on..
          <br>

          <a href="/">Home</a>
        </p>

      </div>
    </div>
  </div>
{% endblock content %}
